.card_wrapper {
  border: solid 10px black;
  display: flex;
  flex: 0.8;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border-radius: 3%;
}
.img_wrapper {
  background-color: green;
}
.bg {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 5px solid var(--color-golden);
}
.bg:hover {
  background-color: var(--color-grey);
}
#Video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}
